<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.name}"></td>
            <td th:utext="${user.surname}"></td>
            <td th:utext="${user.email}"></td>
        </tr>
    </table>

    <style>
        table {
            width: 60%;
            border: 4px double black;
            border-collapse: collapse;
            margin: 20px;
        }

        th {
            text-align: left;
            background: #ccc;
            padding: 5px;
            border: 1px solid black;
        }

        td {
            padding: 10px;
            border: 1px solid black;
        }

        h2 {
            margin: 20px
        }

    </style>
</div>
</body>
</html>
